<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>監督一覧</title>
</head>
<body>
  <table>
    <tbody>
      <tr>
        <th>
          名前
        </th>
        <th>
          誕生日
        </th>
        <th>
          概要
        </th>
        <th>
          リンク
        </th>
      </tr>
      <tr>
        <td>
          富野由悠季
        </td>
        <td>
          XXXX-XX-XX
        </td>
        <td>
          あああああああああああああああああああああああああああああああああああ
        </td>
        <td>
          <a href="modal-sample.html">詳細</a>
        </td>
      </tr>
    </tbody>
  </table>

</body>
</html>